// .breadcrumb
.breadcrumb {
  li {
    display: inline-block;
    margin-right: 10px;
    color: black;
    &.active {
      color: gray;
    }
  }
}
//pagging
.pager {
  li {
    display: inline-block;
    padding: 5px 10px;
    a {
      color: black;
    }
    &:first-child { padding-left: 0; }
    &.active,
    a:hover { color: gray;}
    &.disabled a {
      cursor: default;
      color: gray;
    }
  }
}
//light-box
.popup {
  position: fixed;
  bottom: 50px;
  left: 0;
  .popup-content {
    position: relative;
    max-width: 450px;
    min-width: 450px;
    padding: 10px;
    background-color: white;
    overflow: hidden;
    .icon-close {
      position: absolute;
      right: 0;
      top: 0;
      .size(20px,20px);
      border-radius: 5px;
      background-color: gray;
      color: white;
      text-align: center;
      line-height: 1.3;
    }
  }
  .header {
    .title {
      text-transform: uppercase;
      padding-right: 20px;
      margin-bottom: 10px;
    }
    .desc {
      p { 
        margin-bottom: 10px;
        line-height: 1.2;
      }
    }
  }
}