extends layouts/template

block vars
  -title = 'Sprite'

block container
  h2 breadcrumb
  +breadcrumb([{text:"item-1", href:"#"},{text: "item-2", href: "#"},{text: "item-3"}],0)
  +breadcrumb([{text:"item-1", href:"#"},{text: "item-2", href: "#"},{text: "item-3"}],1)
  +breadcrumb([{text:"item-1", href:"#"},{text: "item-2", href: "#"},{text: "item-3"}],2)
  h2 Form
    h3 Customer-checkbox
    +custom-checkbox({
      inpts: {type: "checkbox", name: "checkbox-1"},
      textLabel: "Checkbox-1"
      }).custom-checkbox
    +custom-checkbox({
      inpts: {type: "checkbox", name: "checkbox-2", checked: "checked"},
      textLabel: "Checkbox-2"
      }).custom-checkbox
    h3 Customer-radio
    +custom-checkbox({
      inpts: {type: "radio", name: "radio-1"},
      textLabel: "radio-1"
      }).custom-radio
    +custom-checkbox({
      inpts: {type: "radio", name: "radio-2", checked: "checked"},
      textLabel: "radio-2"
      }).custom-radio
  h2 Custom select
  +custom-select({opts:[{value: 'item-1'}, {value: 'item-2'}], name:'item'})
  +custom-select-1({opts:[{value: 'item-1'}, {value: 'item-2'}], name:'item-normal'})
  h2 Text
  h2 Button
  h2 Form Elements
  h2 Corner
  h2 Background
  h2 General
